<odoo>

    <!-- Main Menu -->
    <menuitem
        id="root"
        name="Trucking"
        sequence="1"
        web_icon="trucking,static/description/icon.png"
    />

    <!-- Menus -->
    <menuitem id="dashboard" name="Dashboard" parent="root" action="action_trucking_dash_sale" sequence="5"/>
    <menuitem id="trips" name="Trips" parent="root" action="action_trucking_trips" sequence="10"/>
    <menuitem id="drivers" name="Drivers" action="action_truck_drivers_kanban" parent="root" sequence="15" />
    <menuitem id="data" name="Data" parent="root" sequence="20"/>
    
    <menuitem id="settings" name="Settings" parent="root" sequence="25"/>

    <menuitem
        id="menu_trucking_data_vehicle"
        name="Vehicles"
        action="fleet.fleet_vehicle_action"
        parent="data"
        sequence="5"
    /> 
    <menuitem
        id="menu_trucking_data_cpe"
        name="CPEs"
        action="l10n_ar_afip_cpe.action_afip_cpe_view"
        parent="data"
        sequence="7"
    /> 
    <menuitem
        id="menu_trucking_data_product"
        name="Trip Products"
        action="action_trucking_data_product"
        parent="data"
        sequence="10"
    /> 
    <menuitem
        id="menu_trucking_data_pricelist"
        name="Pricelists"
        action="product.product_pricelist_action2"
        parent="data"
        sequence="15"
    /> 
    
    
    


</odoo>