.o_trucking_kanban_sidebar {
    
    float: left;
    margin-top: 13px;
    .o_trucking_kanban_heading {
        display: flex ;
        flex-direction: row;
        align-items: center;
        .fa-arrow-circle-right{
            display: none;
        }
        .fa-arrow-circle-left{
            display: block;
        }
    }
    .o_trucking_kanban_sidebar_content {
        transition: width 0.2s;
        overflow: hidden;
        width: 250px;
    }
    &.folded {
        .o_trucking_kanban_heading {
            flex-direction: column;
            .fa-arrow-circle-right{
                display: block;
            }
            .fa-arrow-circle-left{
                display: none;
            }
        }
        .o_trucking_kanban_sidebar_content {
            width: 0px;
        }
        .o_trucking_kanban_title {
            writing-mode: vertical-lr;
        }
    }
}
